In [1]:
#importing the modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ds=pd.read_csv('gold.csv')

In [3]:
ds

           Date    Open    High     Low   Close  Adj Close  Volume
0    2022-06-13  6346.0  6350.0  6295.0  6323.0     6323.0   17820
1    2022-06-14  6133.0  6175.0  6120.0  6165.0     6165.0   12430
2    2022-06-15  6133.0  6157.0  6118.0  6135.0     6135.0    5470
3    2022-06-16  6169.0  6181.0  6159.0  6159.0     6159.0    2630
4    2022-06-17  6152.0  6215.0  6131.0  6212.0     6212.0   15660
..          ...     ...     ...     ...     ...        ...     ...
240  2023-06-05  6778.0  6780.0  6750.0  6761.0     6761.0   56380
241  2023-06-06  6776.0  6794.0  6774.0  6781.0     6781.0    5470
242  2023-06-07  6795.0  6800.0  6781.0  6790.0     6790.0    4500
243  2023-06-08  6746.0  6765.0  6746.0  6759.0     6759.0   21250
244  2023-06-09  6773.0  6793.0  6768.0  6793.0     6793.0    8250

[245 rows x 7 columns]

In [30]:
ds.describe()

              Open         High          Low       Close
count   245.000000   245.000000   245.000000   245.00000
mean   6225.497959  6241.865306  6207.530612  6226.00000
std     268.056799   267.856860   269.821321   271.09411
min    5848.000000  5850.000000  5806.000000  5808.00000
25%    6039.000000  6070.000000  6028.000000  6050.00000
50%    6146.000000  6160.000000  6126.000000  6142.00000
75%    6309.000000  6309.000000  6270.000000  6283.00000
max    6847.000000  6851.000000  6820.000000  6829.00000

In [31]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    245 non-null    float64
 1   High    245 non-null    float64
 2   Low     245 non-null    float64
 3   Close   245 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [32]:
len(ds)

245

In [34]:
ds.dtypes

Open     float64
High     float64
Low      float64
Close    float64
dtype: object

In [4]:
#checking for the duplicate value
ds.duplicated().sum()

0

In [5]:
#checking for the missing value
ds.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
ds.drop(['Date','Volume','Adj Close'],axis=1,inplace=True)

In [7]:
ds

       Open    High     Low   Close
0    6346.0  6350.0  6295.0  6323.0
1    6133.0  6175.0  6120.0  6165.0
2    6133.0  6157.0  6118.0  6135.0
3    6169.0  6181.0  6159.0  6159.0
4    6152.0  6215.0  6131.0  6212.0
..      ...     ...     ...     ...
240  6778.0  6780.0  6750.0  6761.0
241  6776.0  6794.0  6774.0  6781.0
242  6795.0  6800.0  6781.0  6790.0
243  6746.0  6765.0  6746.0  6759.0
244  6773.0  6793.0  6768.0  6793.0

[245 rows x 4 columns]

In [8]:
x_raw=ds[['Open','High','Low']]

In [9]:
x_raw

       Open    High     Low
0    6346.0  6350.0  6295.0
1    6133.0  6175.0  6120.0
2    6133.0  6157.0  6118.0
3    6169.0  6181.0  6159.0
4    6152.0  6215.0  6131.0
..      ...     ...     ...
240  6778.0  6780.0  6750.0
241  6776.0  6794.0  6774.0
242  6795.0  6800.0  6781.0
243  6746.0  6765.0  6746.0
244  6773.0  6793.0  6768.0

[245 rows x 3 columns]

In [36]:
y=ds[['Close']]

In [37]:
y

      Close
0    6323.0
1    6165.0
2    6135.0
3    6159.0
4    6212.0
..      ...
240  6761.0
241  6781.0
242  6790.0
243  6759.0
244  6793.0

[245 rows x 1 columns]

In [38]:
#importing the preproceesing library
from sklearn.preprocessing import MinMaxScaler,LabelEncoder

In [39]:
scale=MinMaxScaler()

In [40]:
lab=LabelEncoder()

In [41]:
x=scale.fit_transform(x_raw)

In [42]:
x

array([[0.4984985 , 0.4995005 , 0.48224852],
       [0.28528529, 0.32467532, 0.30966469],
       [0.28528529, 0.30669331, 0.30769231],
       [0.32132132, 0.33066933, 0.34812623],
       [0.3043043 , 0.36463536, 0.32051282],
       [0.3973974 , 0.3976024 , 0.39447732],
       [0.37437437, 0.38561439, 0.39349112],
       [0.4034034 , 0.40659341, 0.41321499],
       [0.40540541, 0.41758242, 0.39940828],
       [0.31331331, 0.33366633, 0.34122288],
       [0.34834835, 0.35364635, 0.36193294],
       [0.34534535, 0.34765235, 0.37080868],
       [0.34834835, 0.36363636, 0.38362919],
       [0.38238238, 0.38761239, 0.39250493],
       [0.3033033 , 0.30669331, 0.25641026],
       [0.27727728, 0.3046953 , 0.30276134],
       [0.30630631, 0.34465534, 0.33727811],
       [0.14214214, 0.17182817, 0.15088757],
       [0.06606607, 0.07692308, 0.0729783 ],
       [0.07207207, 0.07692308, 0.0887574 ],
       [0.08308308, 0.12687313, 0.117357  ],
       [0.11311311, 0.11988012, 0.11045365],
       [0.06806807, 0.09190809, 0.09566075],
       [0.11211211, 0.12987013, 0.14595661],
       [0.11311311, 0.11088911, 0.12623274],
       [0.07207207, 0.07292707, 0.09072978],
       [0.07807808, 0.07592408, 0.08382643],
       [0.03103103, 0.02997003, 0.0147929 ],
       [0.04104104, 0.06993007, 0.07790927],
       [0.03203203, 0.04595405, 0.06311637],
       [0.02802803, 0.04595405, 0.06114398],
       [0.04604605, 0.04395604, 0.07001972],
       [0.08208208, 0.08491508, 0.07790927],
       [0.06506507, 0.07792208, 0.06114398],
       [0.04504505, 0.04295704, 0.02859961],
       [0.        , 0.        , 0.        ],
       [0.01501502, 0.05794206, 0.05522682],
       [0.06106106, 0.10989011, 0.10059172],
       [0.11711712, 0.24975025, 0.1469428 ],
       [0.15215215, 0.16983017, 0.19033531],
       [0.19219219, 0.1988012 , 0.20808679],
       [0.22622623, 0.22577423, 0.23767258],
       [0.12112112, 0.13586414, 0.14792899],
       [0.15715716, 0.16483516, 0.17455621],
       [0.09209209, 0.1048951 , 0.11637081],
       [0.11811812, 0.13686314, 0.14299803],
       [0.12012012, 0.11888112, 0.14398422],
       [0.12512513, 0.14485514, 0.16469428],
       [0.13613614, 0.15784216, 0.17554241],
       [0.13413413, 0.14285714, 0.15384615],
       [0.13713714, 0.13886114, 0.15976331],
       [0.15815816, 0.16083916, 0.19723866],
       [0.16416416, 0.16183816, 0.19230769],
       [0.15315315, 0.15784216, 0.16962525],
       [0.18218218, 0.19480519, 0.20118343],
       [0.14014014, 0.14885115, 0.15877712],
       [0.11411411, 0.11188811, 0.12919132],
       [0.1021021 , 0.11988012, 0.13116371],
       [0.15115115, 0.16683317, 0.18441815],
       [0.16716717, 0.21278721, 0.20216963],
       [0.24724725, 0.26073926, 0.25345168],
       [0.33233233, 0.34965035, 0.3530572 ],
       [0.3033033 , 0.31668332, 0.32149901],
       [0.27627628, 0.28971029, 0.30769231],
       [0.3023023 , 0.31768232, 0.31558185],
       [0.2952953 , 0.30569431, 0.30473373],
       [0.22022022, 0.22277722, 0.24063116],
       [0.11311311, 0.11588412, 0.14201183],
       [0.14714715, 0.15284715, 0.16568047],
       [0.12612613, 0.14385614, 0.15877712],
       [0.15915916, 0.16883117, 0.17159763],
       [0.04004004, 0.05494505, 0.0433925 ],
       [0.02202202, 0.04995005, 0.06114398],
       [0.04804805, 0.04595405, 0.04142012],
       [0.12712713, 0.12987013, 0.13905325],
       [0.15515516, 0.16983017, 0.19230769],
       [0.18218218, 0.18981019, 0.21005917],
       [0.3023023 , 0.32467532, 0.32445759],
       [0.35435435, 0.36163836, 0.37869822],
       [0.36636637, 0.38061938, 0.39053254],
       [0.36336336, 0.36463536, 0.38362919],
       [0.22722723, 0.24975025, 0.24753452],
       [0.22822823, 0.24975025, 0.26134122],
       [0.29029029, 0.2987013 , 0.31262327],
       [0.31231231, 0.30969031, 0.30374753],
       [0.26326326, 0.28871129, 0.29487179],
       [0.29129129, 0.32267732, 0.32642998],
       [0.30730731, 0.30969031, 0.33037475],
       [0.23723724, 0.26573427, 0.26725838],
       [0.25225225, 0.25674326, 0.27218935],
       [0.3023023 , 0.31968032, 0.33037475],
       [0.2992993 , 0.3026973 , 0.32051282],
       [0.26726727, 0.2967033 , 0.2938856 ],
       [0.24024024, 0.24275724, 0.24063116],
       [0.23223223, 0.24875125, 0.26232742],
       [0.22322322, 0.23176823, 0.2504931 ],
       [0.22022022, 0.22977023, 0.24654832],
       [0.23823824, 0.24575425, 0.26035503],
       [0.19119119, 0.23176823, 0.2209073 ],
       [0.28228228, 0.3046953 , 0.31952663],
       [0.29229229, 0.28971029, 0.30670611],
       [0.36436436, 0.37962038, 0.38560158],
       [0.38438438, 0.40659341, 0.42011834],
       [0.36736737, 0.38661339, 0.38757396],
       [0.31431431, 0.31168831, 0.31755424],
       [0.34734735, 0.37762238, 0.38362919],
       [0.34934935, 0.36863137, 0.38067061],
       [0.33933934, 0.33766234, 0.33925049],
       [0.33733734, 0.33666334, 0.35009862],
       [0.3043043 , 0.3016983 , 0.31163708],
       [0.32632633, 0.33766234, 0.36193294],
       [0.25825826, 0.26773227, 0.27416174],
       [0.23723724, 0.24575425, 0.265286  ],
       [0.27127127, 0.26873127, 0.24161736],
       [0.19319319, 0.2997003 , 0.22189349],
       [0.21721722, 0.26773227, 0.25542406],
       [0.23823824, 0.25474525, 0.2504931 ],
       [0.24124124, 0.24575425, 0.25542406],
       [0.18918919, 0.21978022, 0.22781065],
       [0.18918919, 0.21278721, 0.21893491],
       [0.21021021, 0.22977023, 0.24161736],
       [0.24324324, 0.25774226, 0.27613412],
       [0.25125125, 0.25774226, 0.27613412],
       [0.27727728, 0.27972028, 0.29684418],
       [0.27527528, 0.28571429, 0.31262327],
       [0.28428428, 0.28571429, 0.31065089],
       [0.26626627, 0.26573427, 0.25345168],
       [0.25725726, 0.26173826, 0.28106509],
       [0.25425425, 0.25174825, 0.27416174],
       [0.25925926, 0.27772228, 0.11637081],
       [0.12612613, 0.14685315, 0.15581854],
       [0.13913914, 0.14685315, 0.1765286 ],
       [0.08508509, 0.10689311, 0.117357  ],
       [0.15115115, 0.14985015, 0.13708087],
       [0.11611612, 0.13786214, 0.15483235],
       [0.18218218, 0.21578422, 0.2199211 ],
       [0.19419419, 0.19180819, 0.21597633],
       [0.17517518, 0.17282717, 0.1913215 ],
       [0.16616617, 0.17582418, 0.18441815],
       [0.27227227, 0.27272727, 0.28205128],
       [0.24624625, 0.2967033 , 0.27613412],
       [0.2982983 , 0.3026973 , 0.32445759],
       [0.32932933, 0.36263736, 0.36587771],
       [0.32732733, 0.33566434, 0.34516765],
       [0.26526527, 0.26573427, 0.28205128],
       [0.27027027, 0.27472527, 0.28994083],
       [0.28628629, 0.29470529, 0.30571992],
       [0.25425425, 0.36463536, 0.29191321],
       [0.25325325, 0.25574426, 0.26134122],
       [0.32332332, 0.34865135, 0.35996055],
       [0.35635636, 0.38461538, 0.38954635],
       [0.43043043, 0.43756244, 0.45463511],
       [0.44244244, 0.43956044, 0.44477318],
       [0.42242242, 0.42457542, 0.43885602],
       [0.3983984 , 0.4035964 , 0.40532544],
       [0.39139139, 0.4005994 , 0.3964497 ],
       [0.38938939, 0.38961039, 0.40039448],
       [0.35635636, 0.3976024 , 0.38757396],
       [0.40940941, 0.40859141, 0.41913215],
       [0.29429429, 0.29470529, 0.31065089],
       [0.27427427, 0.31768232, 0.31163708],
       [0.32532533, 0.32467532, 0.35404339],
       [0.26726727, 0.28271728, 0.29585799],
       [0.28128128, 0.31668332, 0.31558185],
       [0.24824825, 0.26373626, 0.26035503],
       [0.25425425, 0.26973027, 0.28402367],
       [0.26626627, 0.26473526, 0.28106509],
       [0.28828829, 0.29270729, 0.30374753],
       [0.27327327, 0.28471528, 0.30374753],
       [0.26726727, 0.28271728, 0.30374753],
       [0.3023023 , 0.30969031, 0.33037475],
       [0.3033033 , 0.31068931, 0.33136095],
       [0.31531532, 0.31468531, 0.34023669],
       [0.26426426, 0.27572428, 0.28994083],
       [0.3023023 , 0.2997003 , 0.31656805],
       [0.31031031, 0.31168831, 0.33333333],
       [0.34034034, 0.37062937, 0.37278107],
       [0.37737738, 0.37462537, 0.3974359 ],
       [0.3973974 , 0.4035964 , 0.43096647],
       [0.42242242, 0.41958042, 0.43491124],
       [0.3993994 , 0.40659341, 0.42504931],
       [0.35535536, 0.35964036, 0.37179487],
       [0.34334334, 0.34465534, 0.35404339],
       [0.36136136, 0.37962038, 0.38362919],
       [0.46146146, 0.45854146, 0.45759369],
       [0.49149149, 0.50949051, 0.5147929 ],
       [0.51551552, 0.52147852, 0.53451677],
       [0.51251251, 0.50949051, 0.49802761],
       [0.52652653, 0.55044955, 0.54536489],
       [0.66966967, 0.67932068, 0.67061144],
       [0.6006006 , 0.5974026 , 0.56706114],
       [0.57957958, 0.59440559, 0.59368836],
       [0.63363363, 0.64235764, 0.6183432 ],
       [0.58358358, 0.58841159, 0.60059172],
       [0.54854855, 0.54545455, 0.54240631],
       [0.57457457, 0.5974026 , 0.60749507],
       [0.62262262, 0.62437562, 0.63708087],
       [0.6996997 , 0.71328671, 0.71696252],
       [0.64764765, 0.64435564, 0.65088757],
       [0.68568569, 0.6953047 , 0.7061144 ],
       [0.75275275, 0.77622378, 0.7800789 ],
       [0.73073073, 0.72727273, 0.73076923],
       [0.73173173, 0.73626374, 0.73372781],
       [0.73373373, 0.74225774, 0.74161736],
       [0.75675676, 0.77622378, 0.78402367],
       [0.80680681, 0.86913087, 0.83629191],
       [0.83983984, 0.83616384, 0.85108481],
       [0.87087087, 0.88611389, 0.89447732],
       [0.82282282, 0.84915085, 0.82840237],
       [0.81981982, 0.84115884, 0.84023669],
       [0.83183183, 0.84715285, 0.85996055],
       [0.82382382, 0.84315684, 0.85009862],
       [0.83583584, 0.83416583, 0.81065089],
       [0.75375375, 0.76623377, 0.77613412],
       [0.79379379, 0.82317682, 0.82149901],
       [0.8028028 , 0.7992008 , 0.80276134],
       [0.75975976, 0.79320679, 0.78402367],
       [0.75475475, 0.80819181, 0.78205128],
       [0.87187187, 0.89210789, 0.89447732],
       [0.91191191, 0.93206793, 0.93688363],
       [0.92092092, 0.92807193, 0.93096647],
       [0.93293293, 0.94205794, 0.95364892],
       [1.        , 1.        , 1.        ],
       [0.92392392, 0.94005994, 0.94280079],
       [0.88988989, 0.89210789, 0.8964497 ],
       [0.92492492, 0.97302697, 0.95069034],
       [0.95295295, 0.96303696, 0.96942801],
       [0.89389389, 0.91008991, 0.91321499],
       [0.91591592, 0.92307692, 0.93096647],
       [0.88388388, 0.8961039 , 0.90138067],
       [0.91291291, 0.91808192, 0.92209073],
       [0.93293293, 0.93106893, 0.91420118],
       [0.94194194, 0.94105894, 0.95463511],
       [0.91791792, 0.93306693, 0.94280079],
       [0.89189189, 0.91708292, 0.91025641],
       [0.93593594, 0.93406593, 0.94773176],
       [0.92092092, 0.91908092, 0.91715976],
       [0.93893894, 0.94505495, 0.95167653],
       [0.94194194, 0.95904096, 0.95857988],
       [0.96296296, 0.98001998, 0.97928994],
       [0.93093093, 0.92907093, 0.93096647],
       [0.92892893, 0.94305694, 0.95463511],
       [0.94794795, 0.94905095, 0.96153846],
       [0.8988989 , 0.91408591, 0.9270217 ],
       [0.92592593, 0.94205794, 0.94871795]])

In [45]:
x.shape,y.shape

((245, 3), (245,))

In [46]:
#splitting the dataset
from sklearn.model_selection import train_test_split

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [48]:
x_train.shape,y_train.shape

((147, 3), (147,))

In [51]:
#importing the machine-learning libraries
from sklearn.linear_model import LinearRegression

In [52]:
model=LinearRegression()

In [53]:
model.fit(x_train,y_train)

LinearRegression()

In [54]:
y_pred=model.predict(x_test)

In [55]:
from sklearn.metrics import r2_score

In [56]:
print("the predicted output for the gold value is:",r2_score(y_test,y_pred))

the predicted output for the gold value is: 0.8716628211221216